
<div class="container">
    <div class="search head col-md-6">
      <%= form_tag user_foods_path(current_user), :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
    </div>

    <div class="login head col-md-6">
      <%= link_to "HOME", root_path %>
      <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>

  <div class="col-md-6 col-md-offset-3">
    <div class="block" id="consumed">

      <% if @foods.any? %>
        <div class="total-food">
          <h4>All Consumed Food:</h4>
          <h5>You ate a friggin <span id="consumed_total"><%= @foods.sum(:calories) %></span> calories!!!</h5>
          <ul id="food_list">
            <%= link_to "Name", :foods => "name" %>   <%= link_to "Calories", :foods => "calories" %>

            <% @foods.each do |food| %>
              <%= render food %>
            <% end %>
          </ul>
          <%= will_paginate @foods, :param_name => "foods_page"%>
        </div>
        <div class="searched-food">
          <h4>Searched Food:</h4>
          <ul id="searched_food_list">
            <%= link_to "Name", :searched_foods => "name" %>   <%= link_to "Calories", :searched_foods => "calories" %>

            <% @searchedFoods.each do |food| %>
              <%= render food %>
            <% end %>
          </ul>
          <%= will_paginate @searchedFoods, :param_name => "searched_foods_page" %>
        </div>
      <% else %>
        <p>You really should eat someting</p>
      <% end %>
      <%= link_to 'Enter Food', new_user_food_path(current_user), id: "new_food_link", remote: true %>
    </div>

    <div class="block" id="burned">

      <% if @exercises.any? %>
      <div class="total-exercise">
        <h4>All Done Exercise:</h4>
        <h5>You burned a friggin <span id="burned_total"><%= @exercises.sum(:calories) %></span> calories!!!</h5>
        <ul id="exercise_list">
          <%= link_to "Name", :exercises => "name" %>   <%= link_to "Calories", :exercises => "calories" %>

          <% @exercises.each do |exercise| %>
            <%= render exercise %>
          <% end %>
        </ul>
        <%= will_paginate @exercises, :param_name => "exercises_page" %>
      </div>
      <div class="searched-exercise">
        <h4>Searched Exercise:</h4>
        <ul id="searched_exercise_list">
          <%= link_to "Name", :searched_exercises => "name" %>   <%= link_to "Calories", :searched_exercises => "calories" %>

          <% @searchedExercises.each do |exercise| %>
            <%= render exercise %>
          <% end %>
        </ul>
        <%= will_paginate @searchedExercises, :param_name => "searched_exercises_page" %>
      </div>
      <% else %>
        <p>You really should do someting</p>
      <% end %>
      <%= link_to 'Enter Exercise', new_user_exercise_path(current_user), id: "new_exercise_link", remote: true%>
    </div>

    <div class="block" id="total">
      <h4>Well that is a total of <span id="calorie_total"><%= @foods.sum(:calories) - @exercises.sum(:calories) %></span> straight
      <% if ( (@foods.sum(:calories) - @exercises.sum(:calories)) > 0) %>
        to your hips.
      <% else %>
        from your hips.
      <% end %>
      </h4>
    </div>
  </div>
</div>
